/* App.css */

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */

}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

header {
  background-color: #f2f2f2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  flex: 1;
  text-align: center;
}

.sign-out {
  background-color: #d55a5a;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  background-color: transparent;
  padding: 20px;
}

main {
  padding: 10px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

form input {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
}

form input.chat-input {
  background-color: #eee;
}

form button {
  background-color: #56b280;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.message-container {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #e5e5ea;
  color: #333;
}

.sent {
  background-color: #0b93f6;
  color: #fff;
  align-self: flex-end;
}

.received p {
  margin: 0;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sign-in {
  background-color: #fff;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in:hover {
  background-color: #f5f5f5;
}
